<div class="row">
  <div class="col-lg-6">
    <%= form_tag checkout_billings_path, method: :post , id: "checkout", data: { stripe_key: Rails.application.secrets.stripe_publishable_key } do %>
      <div class="form-group">
        <%= label_tag :card_number, "Card number", class: "form-label" %>
        <%= text_field_tag :card_number, nil, class: "form-control", "data-stripe" => "number", placeholder: '1234 1234 1234 1234' %>
      </div>

      <div class="row">

        <div class="col-8">
          <div class="form-group">
            <%= label_tag :exp, "Expiration", class: "form-label" %>
            <div class="row">
              <div class="col-6">
                <%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "form-control" %>
              </div>
              <div class="col-6">
                <%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <%= label_tag :card_verification, "CVC", class: "form-label" %>
            <%= text_field_tag :card_verification, nil, class: "form-control", "data-stripe" => "cvv" %>
          </div>
        </div>

      </div>

      <%= submit_tag "Subscribe", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
